/* Variables */

$base : 16px;

$bodyColour : #4E5153;
$headingColour : #234;
$captionColour : lighten($bodyColour, 20%);

/* Colours from http://chriskempson.github.io/base16/#eighties */

$red : #F2777A;
$orange: #F99157;
$yellow: #FC6;
$green: #9C9;
$aqua: #6CC;
$blue: #69C;
$purple: #C9C;
$brown: #D27B53;


/*Hero & Logo */

h1 {
    width: 15%;
    position: absolute;
    top:5%;
    right:10%;
    z-index: 99;
}

.hero {

    width: 100%;
    
    .intro {
        position:absolute;
        top:55%;
        font-size: $base * 2;
        left:10%;
        z-index: 99;
        font-weight: bold;

        p {
            margin:$base 0;
        }

        span {
            background: rgba(255,255,255,0.8);
            padding:$base /2 $base;
        }

        .secondary {
            font-size: $base * 1.2;
            font-weight: normal;
        }
    }

    figure {
            position:relative;
        }
        .annotations {
            position:absolute;
            top:0;
            left:0;
}
}


body {
    font-family: 'Oxygen', sans-serif; 
    font-weight: 300; 
    color: $bodyColour;
    font-size: $base;
}

.wrapper {
    width: 800px;
    max-width: 90%;
    margin: 0 auto;
    padding:0 0 $base * 4 0;
}

/* Headings */

header {
    text-align: center;
}

h1, h2, h3, h4, h5, h6 {
    color: $headingColour;
}

h1,h2 { 
    margin: $base * 4 0 $base 0;
    line-height: $base * 2;
}

h3, h4 {
    margin: $base * 3 0 $base 0;
}

/* Typography */

p {
    line-height: $base * 2;
    margin-top:0;
    margin-bottom: $base * 1.5;
}

a {
    color:$red;
}
/* Images and Video */

img {
    max-width: 100%;
}

table {
    text-align: left;
    margin-bottom: $base * 1.5;
    font-size: 14px;

    th, td {
        border:1px solid;
        padding: $base / 2;
    }
}

/* Figures */

figure {
    margin: $base * 2 0;
    iframe {
        width:100%;
        height: auto;
    }
    figcaption {
        margin: $base 0;
        font-size: 13px;
        color: $captionColour;  
    }
}

.graph figcaption {
    font-size: 16px;
    font-weight: 600;
    color: $headingColour;
}

/* Bio */

.bio {
    color: $blue;
    border: 2px solid lighten($blue,20%);
    padding: $base;
    margin:$base * 5 0;
    font-size:$base - 1px;
    overflow: hidden;
    
    .avatar {
        width:120px;
        float: left;
   }
   
   .bio-content {
        margin-left: 120px + $base * 2;
   }

    h6 {
        margin-top: $base;
        margin-bottom: $base * 0.5;
        font-size:$base + 1px;
    }

    p {
        margin-bottom: 0;
    }
}

/* Resonsive */

@media screen and (max-width: 1000px) {
    .hero .intro {
        left:5%;
    }

    h1 { 
        right:5%;
    }
}


@media screen and (max-width: 600px) {

    .bio {
        text-align: center;
        .avatar {
            float: none;
                    margin: 0 auto;

        }
        .bio-content { 
            width: 100%;
            margin-left:0;
        }
    }

    h1 {
        position:relative;
        top:0;
        left:0;
        text-align: left;
        width: 100%;
        margin-top:$base * 2;
        img {
            width:$base * 6;
            margin-left:5%;
        }
    }
    .hero .intro {
        position:relative;
        width: 90%;
        margin:0 auto;
        text-align: left;
        left:0;
        top:0;
        font-size: 2 * $base;
        
        span {
            padding: 0;
            background:none;
            color:$headingColour;
        }

        .secondary {
            color: $bodyColour;
        }
    }
}


