body {
    font-family: 'Oxygen', sans-serif; 
    font-weight: 300; 
    color:#123;
}

.wrapper {
    width: 800px;
    margin: 0 auto;
    padding:40px 0;
}

.logo {
    width:160px;
}

header {
    text-align: center;
}

h1,h2 {
    margin:48px 0 16px 0;
}

h4 {
    margin-bottom: 12px;
}
p {
    line-height: 26px;
    margin-top:0;
    margin-bottom: 26px;
}

img {
    max-width: 100%;
}

table {
    text-align: left;
}
table th, table td {
    border:1px solid;
    padding:8px;
}

.bill-of-materials {
    width:60%;
}

.number-column {
    text-align: right;
}

figure {
    margin-bottom: 18px;
}

figure iframe {
    width:800px;
    height: 450px;
}

iframe {width:100%;}
