/* Variables */
/* Colours from http://chriskempson.github.io/base16/#eighties */
/*Hero & Logo */
h1 {
  width: 15%;
  position: absolute;
  top: 5%;
  right: 10%;
  z-index: 99; }

.hero {
  width: 100%; }
  .hero .intro {
    position: absolute;
    top: 55%;
    font-size: 32px;
    left: 10%;
    z-index: 99;
    font-weight: bold; }
    .hero .intro p {
      margin: 16px 0; }
    .hero .intro span {
      color: #223344;
      background: rgba(255, 255, 255, 0.8);
      padding: 8px 16px; }
    .hero .intro .secondary {
      font-size: 19.2px;
      font-weight: normal;
      color: #4e5153; }
  .hero figure {
    position: relative; }
  .hero .annotations {
    position: absolute;
    top: 0;
    left: 0; }

body {
  font-family: 'Oxygen', sans-serif;
  font-weight: 300;
  color: #4e5153;
  font-size: 16px; }

.wrapper {
  width: 800px;
  max-width: 90%;
  margin: 0 auto;
  padding: 0 0 64px 0; }

/* Headings */
header {
  text-align: center; }

h1, h2, h3, h4, h5, h6 {
  color: #223344; }

h1, h2 {
  margin: 64px 0 16px 0;
  line-height: 32px; }

h3, h4 {
  margin: 48px 0 16px 0; }

/* Typography */
p {
  line-height: 32px;
  margin-top: 0;
  margin-bottom: 24px; }

a {
  color: #f2777a; }

/* Images and Video */
img {
  max-width: 100%; }

table {
  text-align: left;
  margin-bottom: 24px;
  font-size: 14px; }
  table th, table td {
    border: 1px solid;
    padding: 8px; }

/* Figures */
figure {
  margin: 32px 0; }
  figure iframe {
    width: 100%;
    height: auto; }
  figure figcaption {
    margin: 16px 0;
    font-size: 13px;
    color: #808487; }

.graph figcaption {
  font-size: 16px;
  font-weight: 600;
  color: #223344; }

/* Bio */
.bio {
  color: #6699cc;
  border: 2px solid #b3cce6;
  padding: 16px;
  margin: 80px 0;
  font-size: 15px;
  overflow: hidden; }
  .bio .avatar {
    width: 120px;
    float: left; }
  .bio .bio-content {
    margin-left: 152px; }
  .bio h6 {
    margin-top: 16px;
    margin-bottom: 8px;
    font-size: 17px; }
  .bio p {
    margin-bottom: 0; }

/* Resonsive */
@media screen and (max-width: 1000px) {
  .hero .intro {
    left: 5%; }

  h1 {
    right: 5%; } }
@media screen and (max-width: 600px) {
  .bio {
    text-align: center; }
    .bio .avatar {
      float: none;
      margin: 0 auto; }
    .bio .bio-content {
      width: 100%;
      margin-left: 0; }

  h1 {
    position: relative;
    top: 0;
    left: 0;
    text-align: left;
    width: 100%;
    margin-top: 32px; }
    h1 img {
      width: 96px;
      margin-left: 5%; }

  .hero .intro {
    position: relative;
    width: 90%;
    margin: 0 auto;
    text-align: left;
    left: 0;
    top: 0;
    font-size: 32px; }

  span {
    padding: 0;
    background: none;
    color: #223344; } }
