/* Variables */
/* Colours from http://chriskempson.github.io/base16/#eighties */
body {
  font-family: 'Oxygen', sans-serif;
  font-weight: 300;
  color: #4e5153;
  font-size: 16px; }

.wrapper {
  width: 800px;
  margin: 0 auto;
  padding: 64px 0; }

/* Headings */
header {
  text-align: center; }

h1, h2, h3, h4, h5, h6 {
  color: #223344; }

h1, h2 {
  margin: 48px 0 16px 0;
  line-height: 32px; }

h3, h4 {
  margin: 32px 0 16px 0; }

/* Typography */
p {
  line-height: 32px;
  margin-top: 0;
  margin-bottom: 24px; }

a {
  color: #f2777a; }

/* Images and Video */
img {
  max-width: 100%; }

table {
  text-align: left;
  margin-bottom: 24px;
  font-size: 14px; }
  table th, table td {
    border: 1px solid;
    padding: 8px; }

/* Figures */
figure {
  margin: 32px 0; }
  figure iframe {
    width: 800px;
    height: 450px; }
  figure figcaption {
    margin: 16px 0;
    font-size: 13px;
    color: #808487; }

.graph figcaption {
  font-size: 16px;
  font-weight: 600;
  color: #223344; }

/* Bio */
.bio {
  color: #6699cc;
  border: 2px solid #b3cce6;
  padding: 16px;
  margin-top: 48px;
  padding-top: 32px;
  font-size: 15px; }
  .bio .avatar {
    width: 120px;
    float: left; }
  .bio .bio-content {
    margin-left: 152px; }
  .bio h2 {
    margin-top: 0;
    margin-bottom: 8px;
    font-size: 17px; }
