$base : 16px;

$bodyColour : #4E5153;
$headingColour : #234;


/* Colours from http://chriskempson.github.io/base16/#eighties */

$red : #F2777A;
$orange: #F99157;
$yellow: #FC6;
$green: #9C9;
$aqua: #6CC;
$blue: #69C;
$purple: #C9C;
$brown: #D27B53;


body {
    font-family: 'Oxygen', sans-serif; 
    font-weight: 300; 
    color:$bodyColour;
    font-size: $base;
}

.wrapper {
    width: 800px;
    margin: 0 auto;
    padding:$base * 2 0;
}


/* Headings */

header {
    text-align: center;
}

h1, h2, h3, h4, h5, h6 {
    color: $headingColour;
}

h1,h2 { 
    margin: $base * 2 0 $base 0;
    line-height: $base * 2;
}

h4 {
    margin-bottom: $base;
}

/* Typography */

p {
    line-height: $base * 2;
    margin-top:0;
    margin-bottom: $base * 1.5;
}

a {
    color:$aqua;
}
/* Images and Video */

img {
    max-width: 100%;
}

table {
    text-align: left;

    th, td {
        border:1px solid;
        padding: $base / 2;
    }
}

figure {
    margin: $base * 2 0;
    iframe {
        width:800px;
        height: 450px;
    }
}


/* Bill of materials */

.bill-of-materials {
}

.number-column {
    text-align: right;
}

